 <div class="recommended_items"><!--recommended_items-->
            <h2 class="title text-center">Sách Gợi ý </h2>
            
            <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="item active"> 
                  <%Book.where(rec: true).each do |book|%>
                  <div class="col-sm-4">
                    <div class="product-image-wrapper">
                      <div class="single-products">
                        <div class="productinfo text-center">
                          <%=image_tag book.image_file_name, :class =>"image-size"%>
                          <h2><%=book.price%></h2>
                          <%=link_to book_path(book) do%>
                          <p><%=book.title%></p>
                          <%end%>
                          <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <%end%>
                </div>
              </div>
            </div>
          </div><!--/recommended_items-->