<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Sách bán chạy</h2>
						<%@books=Book.where("sold >= '0'")%>
						<%= render partial: 'books/book_area', locals: { books: @books } %>
					</div><!--features_items-->