<div class="container">
			<div class="row">
				<div class="col-sm-3">
					
					<div class="left-sidebar">
						<div class="brands_products"><!--brands_products-->
							<%if current_user.present?%>
							<% if @cart %>
								<%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
									<%= render @cart %>
								<% end %>
							<% end %>
							<% end %>
						</div><!--/brands_products-->
						<h2>Thể loại</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							<% Genre.all.each do |genre|%>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
											<%=link_to genre.name, genre_path(genre.id)%>
										</a>
									</h4>
								</div>
															</div>
							<% end %>
						</div><!--/category-products-->
						
						
					</div>
				</div>
			