<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <!-- Navigation -->
    <!-- Page Content -->
    <div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
            <div class="jumbotron">
                    <h1>Hello, world!</h1>
                    <p><strong><%=link_to "AIRBOOK", root_path%> là sản phẩm web đầu tay được viết bằng ruby on rails và cũng là bài tập môn lập trình web của nhóm. Để có được sản phẩm này, chúng em xin chân thành cảm ơn thầy <a href="http://soict.hust.edu.vn/index.php/bo-mon-trung-tam/cong-nghe-phan-mem/can-bo/177-ths-hoang-anh-vi-t">Hoàng Anh Việt</a> đã nhiệt tình chỉ bảo và hướng dẫn.<br>
                     </strong></p>
                     <p>You can download sourcecode @git: https://github.com/qmau94/air-book</p>
                    </p>
            </div>
                </div>
        </div>

        <!-- Team Members Row -->

        
        <div class="row">
             <!-- <div class="col-lg-12">
                <h2 class="page-header">Instructors</h2>
            </div>
            <img class="img-responsive img-center" src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xpt1/v/t1.0-9/12109018_908366389246189_7722307990395180877_n.jpg?oh=56662a118274b3c23d1fdf9b216debc4&oe=56DAE689&__gda__=1461274253_aa892d497e8f2f7369521bf19c4da7c0" alt=""> -->
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xtl1/v/t1.0-9/12391174_10207069821378217_5236001964946669144_n.jpg?oh=dc118ff8fef73206fcc238ec44ca048b&oe=56E29706&__gda__=1461870439_06f18c1bfe0ca366b628cd2b1da60a70" alt="">
                <h3>Nguyễn Xuân Bách
                    <small>Developer</small>
                </h3>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://scontent-hkg3-1.xx.fbcdn.net/hphotos-xlt1/v/t1.0-9/12196349_10206885932621113_2981928704328578759_n.jpg?oh=a79f8e324af80c4f6532c14d75eb7d19&oe=571F16A7" alt="">
                <h3>Mầu Hà Quang
                       <small>Developer</small>
                </h3>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xft1/v/t1.0-1/12310707_541339879354517_8202229555150808262_n.jpg?oh=b8dce3af14132f0380f449e76b6cd3ee&oe=5717409A&__gda__=1456904172_baa6bd6127e0d06a7bde4a4c6b8a1859" alt="">
                <h3>Nguyễn Thế Anh
                       <small>Developer</small>
                </h3>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; airbook2015</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->
