<% provide :title, "Checkout"%>
	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				 <%= link_to "Home", root_path%> >> Thanh toán
				</ol>
			</div><!--/breadcrums-->

				<div class="row">
					 <div class="col-md-10 col-md-offset-3">
							<h2>Thông tin đơn hàng</h2>
							<div class="form-one">
								<%= render 'form'%>
							</div>
					</div>
				</div>
		</div>
	</section> <!--/#cart_items-->
	