<div class="col-sm-4">
                    <div class="product-image-wrapper">
                      <div class="single-products">
                        <div class="productinfo text-center">
                          <%=image_tag book.image_file_name, :class=>"image-size"%>
                          <h2><%=book.price%></h2>
                          <p><%=book.name%></p>
                          <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                        </div>
                      </div>
                    </div>
                  </div>